#!/bin/sh

PRG="$0"
PRGDIR=`dirname "$PRG"`
HAZELCAST_HOME=`cd "$PRGDIR/.." >/dev/null; pwd`

if [ $JAVA_HOME ]
then
	echo "JAVA_HOME found at $JAVA_HOME"
	RUN_JAVA=$JAVA_HOME/bin/java
else
	echo "JAVA_HOME environment variable not available."
    RUN_JAVA=`which java 2>/dev/null`
fi

if [ -z $RUN_JAVA ]
then
    echo "JAVA could not be found in your system."
    echo "please install Java 1.6 or higher!!!"
    exit 1
fi

	echo "Path to Java : $RUN_JAVA"

#### you can enable following variables by uncommenting them

#### minimum heap size
MIN_HEAP_SIZE={{ min_heap_size }}m

#### maximum heap size
MAX_HEAP_SIZE={{ max_heap_size }}m


if [ "x$MIN_HEAP_SIZE" != "x" ]; then
	JAVA_OPTS="$JAVA_OPTS -Xms${MIN_HEAP_SIZE}"
fi

if [ "x$MAX_HEAP_SIZE" != "x" ]; then
	JAVA_OPTS="$JAVA_OPTS -Xmx${MAX_HEAP_SIZE}"
fi

export CLASSPATH=$HAZELCAST_HOME/lib/hazelcast-all-3.5.2.jar


    echo "########################################"
    echo "# RUN_JAVA=$RUN_JAVA"
    echo "# JAVA_OPTS=$JAVA_OPTS"
    echo "# starting now...."
    echo "########################################"

$RUN_JAVA -server $JAVA_OPTS com.hazelcast.core.server.StartServer & echo $! > /disk2/hazelcast/bin/hazelcast.pid
